 <div class="user-details">
</div>
  <div class="user">
    <div class="tech">
      <h2> Resume </h2>
			<p>Hi, I am Rosh, a recent Computer Science graduate. I'm drawn to understanding how things work and finding effective solutions to problems. I'm Interested in keeping up to date with the latest technologies.</p>
      <h2>Experience</h2>
			<h3 class="job">Amazon Web Services, Student</h3>
			<p class="date">Jul 2019 - Sept 2019</p>
			<p>AWS re:Start is a training and job placement programme, launched by Amazon Web Services, for the UK to educate young adults as well as military veterans, reservists, and their spouses, on the latest software development and cloud computing technologies.<p/>
			<h3 class="job">Zaizi, London, Linux WebOps Engineer</h3>
			<p class="date">August 2017 - February 2018</p>
			<p>Researched how to increase the performance of services with new technologies. Configured, tested and deployed updates to services.</p>
			<ul>
				<li>Supported and maintained existing government projects for Department for Education and Ministry of Justice.</li>
				<li>Participated in daily stand-ups as part of an agile  process.</li>
				<li>Developed a secure multi-user password management system based on pass, qtpass and pass-tomb.</li>
				<li>Set up and tested a geo-replicated redundant storage system with GlusterFS.</li>
				<li>Developed a dashboard to monitor the company’s internal and external services and deployed it on AWS.</li>
			</ul>
			<h3 class="job">GoSweat, London, Engineer</h3>
			<p class="date">May 2017 - August 2017</p>
			<p>Developed a marketplace application to find local sports facilities. With the ability to search for exactly what you want, where and when you want it and filter the results by price, distance and reviews. Took on the DevOps tasks after the team changed.</p>
			<ul>
				<li>Created a Reviews service and RESTful API endpoints using Java.</li>
				<li>Developed website to consume APIs using AngularJS.</li>
				<li>Discussed, analyzed and strategised product design with startup CEOs.</li>
				<li>Delivered presentations on agile methodologies and the benefits of having an agile mindset. </li>
				<li>Pushed for the use of more automation and DevOps concepts in the company by giving demos on tools (e.g. Git and Docker) and how they could be used more efficiently.</li>
				<li>Migrated search service from Digital Ocean and Mlabs to Google Cloud Platform and MySQL.</li>
				<li>Set up Continuous Delivery with Bitbucket Pipelines to Google App Engine</li>
				<li>Led the creation of a community-based knowledge sharing platform for sports providers.</li>
			</ul>
			<h3 class="job">VR City, London, Intern</h3>
			<p class="date">March 2017 - April 2017</p>
			<p>A an internship at a VR and 360° production company which make TV, film and digital content for broadcasters and brands including Channel 4, MTV, Disney, Cartoon Network, TNT, Columbia Records, River Island, Honda, Smirnoff and Sony.</p>
			<ul>
				<li>Advised on the requirements for computer specifications for new machines.</li>
				<li>Build video editing computers and installed operating systems.</li>
				<li>Created a WebVR 360° video player web application using A-Frame web framework, HTML5 and JavaScript.</li>
			</ul>
      <h2 >Education</h2>
			<h3 class="job">University of Plymouth</h3>
			<p class="date">BSc, Computer Science, Graduated 2016<p>
    </div>
</div>
