 <div class="user-details">
  <h1> Resume </h1>
</div>
  <div class="user">
    <div class="tech">
			<p>
			Hi, I am Rosh, a recent Computer Science graduate. I'm drawn to understanding how things work and finding effective solutions to problems. I'm Interested in keeping up to date with the latest technologies. 
I'm a DevOps engineer. I spend my day creating the glue which holds together other pieces of software.
I like to use Java, Python and Javascript.
			</p>
    </div>
    <div class="tech">
      <h2>Experience</h2>
			<h3>Zaizi, London, Linux WebOps Engineer</h3>
			<p>August 2017 - February 2018</p>
			<p>Researched how to increase the performance of services with new technologies. Configured, tested and deployed updates to services.</p>
			<ul>
				<li>Supported and maintained existing government projects for Department for Education and Ministry of Justice.</li>
				<li>Developed a open source password manager based on pass, qtpass and pass-tomb.</li>
				<li>Set up and tested geo-replicated redundant storage using GlusterFS.</li>
				<li>Developed a dashboard to monitor the company’s internal and external services.</li>
			</ul>
			<h3>GoSweat, London, Engineer</h3>
			<p>May 2017 - August 2017</p>
			<p>Developed a marketplace application to find local sports facilities. Took on more of the DevOps tasks after the team changed.</p>
			<ul>
				<li>Created a Reviews service and RESTful API endpoints using Java.</li>
				<li>Developed website to consume APIs using AngularJS.</li>
				<li>Discussed, analysed and strategised product design with startup CEOs.</li>
				<li>Acted as Tech Lead during handover.</li>
				<li>Delivered presentations on agile methodologies and the benefits of having an agile mindset.</li>
				<li>Pushed for the use of more automation and DevOps concepts in the company by giving demos on tools (e.g. Git and Docker) and how they could be used more efficiently.</li>
				<li>Migrated services from Digital Ocean and Mlabs to Google Cloud Platform and MySQL.</li>
				<li>Set up Continuous Delivery with Bitbucket Pipelines to Google App Engine</li>
			</ul>
			<h3>VR City, London, Intern</h3>
			<p>March 2017 - April 2017</p>
			<p>A an internship at a VR and 360° production company which make TV, film and digital content for broadcasters and brands including Channel 4, MTV, Disney, Cartoon Network, TNT, Columbia Records, River Island, Honda, Smirnoff and Sony.</p>
			<ul>
				<li>Advised on the requirements for computer specifications for new machines.</li>
				<li>Built editing rigs and installed operating systems.</li>
				<li>Created a WebVR 360° video player web application using A-Frame web framework, HTML5 and JavaScript.</li>
			</ul>
    </div>
    <div class="tech">
      <h2>Education</h2>
			<h3>University of Plymouth</h3>
			<p>BSc Computer Science<p>
			<p>Graduated 2016<p>
    </div>
</div>
