	<script>
	function submitToAPI(e) {
       e.preventDefault();
       var URL = "https://9hnin5wl0f.execute-api.eu-west-1.amazonaws.com/prod/comments";

       var post = document.title;
       var name = $("#fname").val();
       var email = $("#lname").val();
       var comment = $("#subject").val();
       var data = {
          post : post,
          comment : comment,
          name : name,
          email : email
        };

       $.ajax({
         type: "PUT",
         url : "https://9hnin5wl0f.execute-api.eu-west-1.amazonaws.com/prod/comments",
 //        dataType: "json",
         crossDomain: "true",
         contentType: "application/json; charset=utf-8",
         data: JSON.stringify(data),

         success: function () {
           // clear form and show a success message
           alert("Your comment has been posted!");
           document.getElementById("comment").reset();
       location.reload();
         },
         error: function () {
           // show an error message
           alert("Unsuccessfull");
         }});
     }
	</script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>
<script>
  $(function() {
    var entries = [];
    var dmJSON  = "https://9hnin5wl0f.execute-api.eu-west-1.amazonaws.com/prod/comments?post="+document.title;
    $.getJSON( dmJSON, function(data) {
      $.each(data.Items, function(i, f) {
        var tblRow = "<tr>" + "<td>" + f.name + "</td>" + "<td>" + f.comment + "</td>" + "<td> " + new Date(0 + f.date * 1000).toUTCString() + "</td>"
        $(tblRow).appendTo("#comments tbody");
      });
    });
  });
</script>
<style>
body {font-family: Arial, Helvetica, sans-serif;}
 {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
 
    display: block;
    width: 100px;
    margin: 3px;
    padding: 5px;
    color: #1a222c;
    background-color: transparent;
    border: 1px solid #1a222c;
    border-radius: 10px;
    text-align: center;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease-out, background-color 0.3s ease-out, border-color 0.3s ease-out;

}

input[type=submit]:hover {
  background-color: #1a222c;
}

.comments {
  border-radius: 5px;
  background-color: #f2f2f2;
	padding: 20px;
}

#comments {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#comments td, #comments th {
  border: 1px solid #ddd;
  padding: 8px;
}

#comments tr:nth-child(even){background-color: #f2f2f2;}

#comments tr:hover {background-color: #ddd;}

#comments th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1a222c;
  color: white;
}

	.buttonHolder{ justify-content: center; display: flex;}

</style>
</head>
<body>



<div class="comments">
<h1 style="text-align:center; margin-top: 10px;">Comments</h1>
<div class="wrapper">
    <table id= "comments" border="1">
      <thead>
        <th>Name</th>
	      <th>Comment</th>
	      <th>Time</th>
      </thead>
    <tbody>
  </tbody>
</table>
</div>

<br><br>

  <form>
    <label for="fname">Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Email</label>
    <input type="text" id="lname" name="lastname" placeholder="Your email..">

    <label for="subject">Comment</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

		<div class="buttonHolder">
		<input class="project-link" onClick="submitToAPI(event)" type="submit" value="Submit">
		</div>

		<br>
  </form>
</div>

<!--
<div class="wrapper">
  <div class="profile">
    <table id= "entrydata" border="1">
      <thead>
        <th>Name</th>
	      <th>Comment</th>
	      <th>Time</th>
      </thead>
    <tbody>
  </tbody>
</table>
</div>
</div>
<div>
<form id="comment" style="box-sizing: border-box;">
      <h4>Name:</h4>
      <input type="text" style="height:35px;" id="name-input" placeholder="Enter name here…" class="form-control" style="width:100%;" /><br/>
      <h4 style="margin:0px">Email:</h4>
      <input type="email" style="height:35px;" id="email-input" placeholder="Enter email here…" class="form-control" style="width:100%;"/><br/>
      <h4 style="margin:0px">Comment:</h4>
      <textarea id="comment-input" rows="3" placeholder="Enter your message…" class="form-control" style="width:100%;"></textarea><br/>
      <div class="g-recaptcha" data-sitekey="6Lc7cVMUAAAAAM1yxf64wrmO8gvi8A1oQ_ead1ys" class="form-control" style="width:100%;"></div>
</form>
</div>

-->
