<div class="content">
  <section id="resume">
    <div class="container">
      <h2 class="title">Resume</h2>
      <p>{{ site.user_description }}</p>
      {% for job in site.jobs %}
      <div class="job-logo">
        <div>
          <a href="{{ job.job_url }}"><img src="{{ job.logo }}" alt="logo" class="logo" /></a>
				</div>
        <div>
          <h3 class="job">{{ job.company }}, {{ job.role }}</h3> 
          <p class="date">{{ job.start_date }} - {{ job.end_date }}</p>
        </div>
      </div>
      {{ job.content }}
      {% endfor %}
    </div>
  </section>
</div>
